<h1>Best Selling Products</h1>
<div class="container grid grid--1x3 cards" data-aos="fade-up">
  <div class="card">
    <img
      class="hero__img card__img"
      src="images/pexels-828860-2587175.jpg"
      alt=""
    />
    <p class="card__text">Lorem ipsum dolor sit amet.</p>
    <p class="card__text card__text--size">$40.00</p>
    <a class="a__btn" href="#"
      ><button class="card__btn">Add To Cart</button></a
    >
  </div>
  <div class="card">
    <img
      class="hero__img card__img"
      src="images/pexels-828860-2732197.jpg"
      alt=""
    />
    <p class="card__text">Lorem ipsum dolor sit amet.</p>
    <p class="card__text card__text--size">$30.00</p>
    <a class="a__btn" href="#"
      ><button class="card__btn">Add To Cart</button></a
    >
  </div>
  <div class="card">
    <img
      class="hero__img card__img"
      src="images/pexels-cottonbro-4046316.jpg"
      alt=""
    />
    <p class="card__text">Lorem ipsum dolor sit amet.</p>
    <p class="card__text card__text--size">$20.00</p>
    <a class="a__btn" href="#"
      ><button class="card__btn">Add To Cart</button></a
    >
  </div>
</div>
