<h1>Customer Reviews</h1>
<div class="container grid grid--1x3 container__arrow">
  <span class="arrow right--arrow__container">
    <span class="fa-greater-than"></span>
  </span>
  <span class="arrow left--arrow__container">
    <span class="fa-less-than"></span>
  </span>

  <div class="block__opinion" data-aos="slide-up">
    <span class="icon">
      <span class="fa-solid fa-quote-left quote__icon"></span>
    </span>
    <ul class="ul__icon">
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon">
        <span class="fa-solid fa-star-half-stroke"></span>
      </li>
    </ul>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum
      nisi corrupti ipsum id, iure minima iusto nulla illum, quae impedit
      distinctio tempore. Quam dolore recusandae magnam neque laudantium
      voluptas.
    </p>
    <a href="#">Read More</a>
    <p>Mohammed B</p>
  </div>
  <div class="block__opinion" data-aos="slide-up">
    <span class="icon">
      <span class="fa-solid fa-quote-left quote__icon"></span>
    </span>
    <ul class="ul__icon">
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon">
        <span class="fa-solid fa-star-half-stroke"></span>
      </li>
    </ul>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum
      nisi corrupti ipsum id, iure minima iusto nulla illum, quae impedit
      distinctio tempore. Quam dolore recusandae magnam neque laudantium
      voluptas.
    </p>
    <a href="#">Read More</a>
    <p>Mohammed B</p>
  </div>
  <div class="block__opinion" data-aos="slide-up">
    <span class="icon">
      <span class="fa-solid fa-quote-left quote__icon"></span>
    </span>
    <ul class="ul__icon">
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon"><span class="fa-solid fa-star"></span></li>
      <li class="li__icon">
        <span class="fa-solid fa-star-half-stroke"></span>
      </li>
    </ul>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum
      nisi corrupti ipsum id, iure minima iusto nulla illum, quae impedit
      distinctio tempore. Quam dolore recusandae magnam neque laudantium
      voluptas.
    </p>
    <a href="#">Read More</a>
    <p>Mohammed B</p>
  </div>
</div>
