<div class="container container--black">
  <div class="box container--gray">
    <h3>Join our Newsletter</h3>
    <div class="input-group">
      <input type="text" class="input" placeholder="Your Email Address" />
      <button class="anchor__btn">SUBSCRIBE</button>
    </div>
  </div>
  <div class="grid--1x2 box__footer">
    <div class="nav__footer">
      <div class="box__img">
        <img class="nav__logo" src="images/OBJECTS.svg" alt="" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit
          quisquam natus beatae accusantium dolorem totam id nulla, dolorum
          distinctio dicta!
        </p>
        <p>54343418</p>
      </div>
      <div class="footer">
        <ol class="nav__footer__list">
          <h4>DEPARTMENTS</h4>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
        </ol>
        <ol class="nav__footer__list">
          <h4>NAVIGATE</h4>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
        </ol>
        <ol class="nav__footer__list">
          <h4>RESOURCES</h4>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit.</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
