<div class="container container--line grid grid--1x2">
  <div class="heading" data-aos="fade-right">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab esse,
      voluptates tempore non quasi nesciunt nostrum fugit. Rem, aut? Ex nam
      dolor, architecto quis illo veniam sunt doloremque iusto, saepe, sit odit
      quo fuga animi aspernatur cupiditate adipisci accusamus nostrum temporibus
      perferendis doloribus deserunt accusantium distinctio.
    </p>
    <a href="#"><button class="anchor__btn">SHOP NOW</button></a>
  </div>
  <img
    class="hero__img"
    src="images/pexels-beatadudova-234220.jpg"
    alt=""
    data-aos="fade-left"
  />
</div>
